<div id="create-task">
    <div class="d-flex mt-3 mb-3">
        <h3 class="px-2">Create Task</h3>
        <div class="ms-auto px-2" hx-boost="true">
            <a class="btn btn-primary btn-sm" href="{% url 'list_tasks' %}">Back</a>
        </div>
    </div>

    <form hx-post="{% url 'create_task' %}" hx-swap="outerHTML" hx-target="#create-task">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-control">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <input class="btn btn-primary btn-sm" type="submit" value="Create">
    </form>
</div>