<div id="task-preview-{{ task.pk }}" class="list-group-item list-group-item-action">
    <div class="d-flex">
        <div class="p-2">
            <h4>{{ task.title }}</h4>
        </div>
        <div class="ms-auto p-2">
            <button type="button" class="btn btn-primary btn-sm" hx-patch="{% url 'update_task_completed' pk=task.pk %}"
                hx-target="#task-preview-{{ task.pk }}" hx-swap="outerHTML">
                {% if task.completed %} Completed {% else %} Not completed {% endif %}
            </button>
        </div>
        <div class="p-2">
            <div hx-boost="true">
                <a class="btn btn-primary btn-sm" href="{% url 'update_task' pk=task.pk %}">Update</a>
            </div>
        </div>
        <div class="p-2">
            <button type="button" class="btn btn-primary btn-sm" hx-delete="{% url 'delete_task' pk=task.pk %}"
                hx-target="#task-preview-{{ task.pk }}" hx-swap="delete">
                Delete
            </button>
        </div>
    </div>
</div>